{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>New Shop</h1>
                {{ form_start(shopForm) }}
                {{ form_widget(shopForm) }}
                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(shopForm) }}
            </div>
        </div>
    </div>
{% endblock %}
