{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                        <a href="{{ path('save_user_shop') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>

                    <h1>User Shops</h1>

                    <table class="table table-striped">
                        <tr>
                            <th>Shop Id</th>
                            <th>Username</th>
                            <th>Shop Password&nbsp;</th>
                        </tr>
                        {% for shop in shops %}
                            <tr>
                                <td><a href="{{ path('shop_products', {'shop_id': shop.id}) }}">{{ shop.shopId }}</a></td>
                                <td>{{ shop.user }}</td>
                                <td>{{ shop.shopPassword }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3" style="text-align: center">{{ "Shops not Found."}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
