{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                        <a href="{{ path('save_shop_product', {'shop_id': shop_id}) }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                    </div>

                    <h1>Shop Products</h1>

                    <table class="table table-striped">
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        {% for product in products %}
                            <tr>
                                <td><a href="{{ asset('/images/product/'~product.image) }}"><img style="width: 50px; height: 50px" src="{{ asset('/images/product/'~product.image) }}"></a></td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.quantity}}</td>
                                <td>{{ product.price }}</td>

                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" style="text-align: center">{{ "Products not Found."}}</td>
                                </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
