<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Liberty Market!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<header class="header">
    <img class="logo-icon" src="{{ asset('images/aquanote-logo.png') }}">
    <a href="/" style="text-decoration: none; color: black"><h1 class="logo">Liberty Market</h1></a>
    <ul class="navi">
        {# <li class="search"><a href="#" class="js-header-search-toggle"><i class="fa fa-search"></i></a></li>#}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
            <li><a href="{{ path('get_user_shops') }}">Shops</a></li>
            </li>
            <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}

    </ul>
</header>
    <body>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% for msg in app.session.flashBag.get("success") %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}

            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
