{% extends('@FOSUser/layout.html.twig') %}

{% block fos_user_content %}
    <h1 class="page-header text-center"> Hello Visiter</h1>
    <p><strong>Liberty Market </strong> is one of first old shopping place after Anarkali where all types of people can do shopping. Cheap to costly stores are available at same place with very huge car parking. Liberty Market is extending day by day to M.M. Alam Road from back where all bridal dresses stores are available. Very big and branded shoes shops and N.M. store is main attraction.</p>
    <p><strong>Liberty Market </strong> Lahore is one place where you can find what ever you want. If your looking for traditional Khussa (traditional shoe) to the traditional bangels. From the kurta to Pajama. Best place for Ladies. Easy access. You Can find brands and Hawkers. You want to complete package here . Typical Lahore Life. Ladies kids families eating gol gappas fruit chat. Open till 11 pm. Best place to spend you chaand raat .</p>

{% endblock %}